@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
    font-family: "Poppins", sans-serif;
    background: #ececec;
}
a {
    text-decoration: none;
}
/*------------ Login container ------------*/
.box-area {
    width: 930px;
}
/*------------ Right box ------------*/
.right-box {
    padding: 40px 30px 40px 40px;
}
/*------------ Custom Placeholder ------------*/
::placeholder {
    font-size: 16px;
}
.rounded-4 {
    border-radius: 20px;
}
.rounded-5 {
    border-radius: 30px;
}
/*------------ For small screens------------*/
@media only screen and (max-width: 768px) {
    .box-area {
        margin: 0 10px;
    }
    .left-box {
        overflow: hidden;
    }
    .right-box {
        padding: 20px;
    }
}
